.timer {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
  }
  
  #timer-text {
    font-size: x-large;
    text-align:center;
  }
  
  #timer-rotating-dot {
    fill: var(--main-gradient-color-1);
  }
  
  #timer-text {
    fill: var(--main-bg-color);
  }

  #timer-rotating-border {
    stroke: var(--main-gradient-color-1);
  }

  #timer-border {
    stroke: var(--timer-strock-color);
  }

  #timer-background {
    fill: var(--timer-background-color);
  }